.base-popup-wrapper {
    background-color: #303030;
    color: #DCDCDC;
    width: 40%;
    position: fixed;
    margin: auto;
    z-index: 1000;
    padding-bottom: 24px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}